version: "3.9"

x-mysql_environments: &mysql_env
  MYSQL_ROOT_PASSWORD: ${SQL_ROOT_PASSWORD}
  MYSQL_DATABASE: ${DATABASE_NAME}
  MYSQL_USER: ${MYSQL_USER}
  MYSQL_PASSWORD: ${MYSQL_PASSWORD}

services:
  mysql:
    restart: always
    image: mysql:8.3
    env_file:
      - .env
    environment: *mysql_env
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "--password=$SQL_ROOT_PASSWORD",
          "ping",
          "-h",
          "localhost"
        ]
      timeout: 20s
      retries: 10
    volumes:
      - ./scripts/mysql:/docker-entrypoint-initdb.d
      - db:/var/lib/mysql

  mongodb:
    restart: always
    image: mongo:7.0.5-rc0
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MGDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MGDB_ROOT_PASSWORD}
      MONGO_DATABASE_NAME: ${MONGO_DATABASE_NAME}
    volumes:
      - mgdb:/data/db

  mongo-seed:
    build:
      context: ./scripts/mongodb
      dockerfile: Dockerfile.seed
      args:
        - DATABASE_URI=${MONGO_DATABASE_URI}
        - USERNAME=${MGDB_ROOT_USERNAME}
        - PASSWORD=${MGDB_ROOT_PASSWORD}
    depends_on:
      - mongodb

  breizhsport_backend:
    restart: always
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "1080:1080"
    env_file:
      - .env
    environment:
      <<: *mysql_env
      DATABASE_MYSQL_URL: mysql
      DATABASE_MONGO_URL: mongodb
      DATABASE_USE_ROOT: ${DATABASE_USE_ROOT}

    depends_on:
      mysql:
        condition: service_healthy

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--fail",
          "http://localhost:1080/health"
        ]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  db:
  mgdb:
